@model Dictionary<string, Dictionary<string, List<Stream>>>

@{
    ViewData["Title"] = "Timetable";
    IEnumerable<Stream> streams = ViewData["Streams"] as IEnumerable<Stream>;
}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
	<div class="container">

		<div class="d-flex justify-content-between align-items-center">
			<h2>Stream Timetable</h2>
		</div>

	</div>
</section><!-- End Breadcrumbs -->

<!-- ======= Main Content ======= -->
<section class="inner-page">
	<div class="container">
		<nav class="sidebar card py-2 mb-4 col-2">
			<ul class="nav flex-column" id="nav_accordion">
				<li class="nav-item">
					<select class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="detectMajor(this)">
						<option selected>Please select a major</option>
						@foreach (var major in Model)
						{
							<option value="@major.Key">@major.Key</option>
						}
					</select>
				</li>	
				<li>
					<div id="course-select-wrap">

					</div>
					
				</li>
				
				<li>
					<span name="course" id="course-list"></span>
				</li>
				<li>
					<button id="btn">Get Selected Courses</button>
				</li>
			</ul>
		</nav>
	</div>
</section><!-- End Main Content -->

<p class="test"></p>

<script>
	var collection = @Json.Serialize(Model);
	const checkbox = document.querySelector(".course-checkbox");
	const btn = document.querySelector('#btn');

function detectMajor(selectMajor){
	const courseSelectElem = document.getElementById("course-select-wrap");
	var courseList = collection[selectMajor.value];
	var courses= []

	courseSelectElem.innerHTML = "";

	for(var key in collection[selectMajor.value]){
		courses.push(key);
	}

	//Check box Constraints - Internship and Capstone are different.
	//Select from checkbox and then add it to local storage and display the stream data from the courseID
	
	for(const key in collection){
		for(const inner in collection[key]){
			console.log(inner)
			for(const stream in collection[key][inner]){

			}
		}
	}	

	for (let key in courseList)
	{
		let label = document.createElement("label");
		label.innerText = key;
		let input = document.createElement("input");
		input.type = "checkbox";
		input.classList.add("course-checkbox")
		label.appendChild(input);
		courseSelectElem.appendChild(label);
	}

	localStorage.setItem('Stream', courses)
	localStorage.getItem('Stream');
	console.log(courses);
}

btn.addEventListener('click', (event) => {
		let checkboxes = document.querySelectorAll('input:checked');
	let values = [];
	checkboxes.forEach((checkbox) => {
		var text = checkbox.parentElement.innerText;
		values.push(text)
	});
	alert(values);
	console.log(values);
});

</script>
