@using StreamTec;

@{
    ViewData["Title"] = "Admin Page";
    IEnumerable<Stream> streams = ViewData["Streams"] as IEnumerable<Stream>;
    IEnumerable<Student> students = ViewData["Students"] as IEnumerable<Student>;
    IEnumerable<Enrollment> enrollments = ViewData["Enrollments"] as IEnumerable<Enrollment>;
}
    <body>
<div class="container">
     <div class="d-flex justify-content-between align-items-center">
       <h2>Administration</h2>
   </div>

   <div class="d-flex justify-content-between align-items-center">
         <p>Search: </p>
   </div>

   <div class="d-flex align-items-center">
          <input type="text" class="input-group-text  align-items-left"/><input type="submit" value="Search" class="input-group-text align-items-left"/>
   </div>

   <div>
       <table class="table table-striped">
           <thead>
    <tr>
      <th scope="col">StudentID</th>
      <th scope="col">Email</th>
      <th scope="col">StreamID</th>
    </tr>
  </thead>
  <tbody>

       @foreach(Enrollment enrol in enrollments)
         {            
         <tr>
            <td>@enrol.StudentId</td>
            <td>@enrol.Students.Email</td>
            <td>@enrol.StreamID</td>       
         </tr>         
         }
  </tbody>
       </table>
   </div>
</div>

   <div class="d-flex align-items-center">
         <input type="submit" value="Delete" class="input-group-text"/>
   </div>
   
   <div class="d-flex align-items-center">
         <input type="submit" value="Export" class="input-group-text"/>
   </div>
</body>