@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StreamTec</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/timetable.css" asp-append-version="true" />
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
          <a class="logo"><img src="~/img/logo.png" alt="" class="img-fluid"></a>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="text-white" asp-area="" asp-controller="Admin" asp-action="AdminHome">Admin test</a></li>
              <li><a class="text-white" asp-area="" asp-controller="Stream" asp-action="Index">Timetable test</a></li>
              <li><a></a></li>
              @if(@HttpContextAccessor.HttpContext.Session.GetString("_StudentId") != null){
                  <li><span class="text-white ml-3">Student ID: <span class="student-id">@HttpContextAccessor.HttpContext.Session.GetString("_StudentId")</span></span></li>
                  <li><a class="text-danger" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
              }
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    @RenderBody()

    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>StreamTec</span></strong>. All Rights Reserved
        </div>
        
      </div>
    </div>
  </footer><!-- End Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
