
@{
    ViewData["Title"] = "Help";
}

<!-- ======= Help Section ======= -->
<section class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
        <h1>Student Streaming Services</h1>
        <br />
        <h4>Do you have a Streaming Services account? If so, then you can skip to step 4. Otherwise start from step 1. </h4>

        <ol>
            <li>Enter your student ID in the first text box.
                <p>•	This will be a 7-digit numerical ID given to you by WelTec. If you do not know your student ID, you can contact ? for assistance.</p>
            </li>
            <li>Enter the email address you would like your timetable sent to in the second text box.
                <p>•	This does not need to be the same email address as the one you use for WelTec logins or services. </p>
            </li>
            <li>Click on the “Register” button once you have entered your details.
                <p>•	If your details were valid, you should get a notification stating that you have successfully registered. </p>
            </li>
            <li>Enter the appropriate details in the labeled text boxes. Once your details have been entered click on login.
                <p>•	Make sure you enter your 7-digit student ID and your registered email address.</p>
                <p>•	If your details were valid, you should be redirected to the timetable page. From there you will see a blank timetable in the middle of the page and a list of courses on the left.</p>
            </li>
            <li>
                Select the courses you have enrolled in from the list on the left. The courses are identified by a major at the front e.g., <span class="bg-warning">SD</span>-6501 and a code at the back <span class="bg-warning">SD-6501</span>.
                <p>•	The majors are as follows:
                    <p>i.	SD = Software Development</p>
                    <p>ii.	CS = Cyber Security</p>
                    <p>iii.	NI = Networking and Infrastructure</p>
                    <p>iv.	DS = Applied Data Science </p>
                    <p>v.	IT = General Information Technology Courses </p>
                </p>
                <p>•	A maximum of 60 credits can be selected each semester. Most courses have a value of 15 credits except for IT7510 (Capstone) and IT7508 (Internship).</p>
                <p>•	If you have not enrolled in any courses yet or are not sure what courses you are enrolled in, you can contact ? for assistance.</p>
            </li>
            <li>Once you have selected the courses you have enrolled in, press on the green button at the bottom of the list labelled “Get selected courses”.

            </li>
        </ol>
    </div>
</section><!-- End Help -->
