
@{
    ViewData["Title"] = "Help";
}

<!-- ======= Help Section ======= -->
<section class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
        <h1 class="marginGap">Student Streaming Services</h1>
        <br />
        <h4>Do you have a Streaming Services account? If so, then you can skip to step 4. Otherwise start from step 1. </h4>

        <ol class="mt-5">
            <li>
                Enter your student ID in the first text box.
                <p>&ensp; •	This will be a 7-digit numerical ID given to you by WelTec. If you do not know your student ID, you can contact <span class="text-info">Michele Carroll (Michele.Carroll@weltec.ac.nz)</span> for assistance.</p>
            </li>
            <li>Enter the email address you would like your timetable sent to in the second text box.
                <p>&ensp; •	This does not need to be the same email address as the one you use for WelTec logins or services. </p>
            </li>
            <li>Click on the “Register” button once you have entered your details.
                <p>&ensp; •	If your details were valid, you should get a notification stating that you have successfully registered. </p>
            </li>
            <li>Enter the appropriate details in the labeled text boxes. Once your details have been entered click on login.
                <p>&ensp; •	Make sure you enter your 7-digit student ID and your registered email address.</p>
                <p>&ensp; •	If your details were valid, you should be redirected to the timetable page. From there you will see a blank timetable in the middle of the page and a list of courses on the left.</p>
            </li>
            <li>
                Select the courses you have enrolled in from the list on the left. The courses are identified by a major at the front e.g., <span class="bg-warning">SD</span>-6501 and a code at the back SD-<span class="bg-warning">6501</span>.
                <p>&ensp; •	The majors are as follows:
                    <p>&emsp; i.	SD = Software Development</p>
                    <p>&emsp; ii.	CS = Cyber Security</p>
                    <p>&emsp; iii.	NI = Networking and Infrastructure</p>
                    <p>&emsp; iv.	DS = Applied Data Science </p>
                    <p>&emsp; v.	IT = General Information Technology Courses </p>
                </p>
                <p>&ensp; •	A maximum of 60 credits can be selected each semester. Most courses have a value of 15 credits except for IT7510 (Capstone) and IT7508 (Internship).</p>
                <p>&ensp; •	If you have not enrolled in any courses yet or are not sure what courses you are enrolled in, you can contact contact <span class="text-info">Chalinor Baliuag (chalinor.baliuag@weltec.ac.nz)</span> for assistance.</p>
            </li>
            <li>Once you have selected the courses you have enrolled in, press on the green button at the bottom of the list labelled “Get selected courses”.
                <p>&ensp; •	If you want to change the courses you have selected you can press the red button labeled “Unselect” at the bottom of the list, and then select the courses you want and press the green button again.</p>
                <p>&ensp; •	If you have selected 60 credits or less, streams will appear in the timetable to the right of the list of courses.</p>
            </li>
            <li>
                Now it is time to select your streams. The streams are identified with the:
                <p>&ensp; •	course e.g., <span class="bg-warning">SD-6501</span>-Com-A-01</p>
                <p>&ensp; •	type of class e.g., SD-6501-<span class="bg-warning">Com</span>-A-01
                    <p>&emsp; i.	Com = Computer Lab</p>
                    <p>&emsp; ii.	Lec = Lecture</p>
                    <p>&emsp; iii.	Tut = Tutorial</p>
                </p>
                <p>&ensp; •	specific class for the course e.g., SD-6501-Com-<span class="bg-warning">A</span>-01
                    <p>&emsp; i.	This identifier will dictate what content gets covered in that class e.g., SD-6501-Com-<span class="bg-warning">A</span>-01 will be the 1st lab for the course in a week, which means that content in SD-6501-Com-<span class="bg-warning">B</span>-01 will build upon SD-6501-Com-<span class="bg-warning">A</span>-01. </p>
                </p>
                <p>&ensp; •	Each course may have multiple streams depending on the amount of people enrolled in the course e.g., SD-6501-Com-A-<span class="bg-warning">01</span>. This ensures that capacity restrictions do not prohibit students from enrolling in courses. </p>
                <p>&ensp; •	Make sure that you meet the following requirements:
                    <p>&emsp; i.	Every course you enroll in will require you to take at least one lecture e.g., SD-6501-<span class="bg-warning">LEC</span>-A-01</p>
                    <p>&emsp; ii.	Every course you enroll in will require you to take at least one lab or tutorial e.g., SD-6501-<span class="bg-warning">COM</span>-A-01</p>
                    <p>&emsp; iii.	If a course has more than one lab then you must take one lab for each unique identifier e.g., SD-6501-Com-<span class="bg-warning">A</span>-01 and SD-6501-Com-<span class="bg-warning">B</span>-01, not SD-6501-Com-<span class="bg-warning">A</span>-01 and SD-6501-Com-<span class="bg-warning">A</span>-02</p>
                    <p>&emsp; iv.	It is preferred that you take the same stream for all your labs/tutorials e.g., SD-6501-Com-A-<span class="bg-warning">01</span> and SD-6501-Com-B-<span class="bg-warning">01</span> but if this is not possible then it is acceptable to take different streams as long as you stick to having unique classes e.g., SD-6501-Com-<span class="bg-warning">A-01</span> and SD-6501-Com-<span class="bg-warning">B-02</span></p>
                    <p>&emsp; v.	Avoid taking any classes which occur at the same time, as this will result in a clash. Sometimes this cannot be avoided, and a clash must be taken to meet the above requirements. In this case, select your classes even if a clash is present, but make sure you bring it to the attention of <span class="text-info">Chalinor Baliuag (chalinor.baliuag@weltec.ac.nz)</span> so that the issue can be resolved.</p>
                </p>
            </li>
        </ol>
    </div>
</section><!-- End Help -->
