@model StreamTec.Models.Student

@{
ViewData["Title"] = "Home";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
<div class="container position-relative">
    <h1>Student Streaming Services</h1>
    <!-- ======= Login/Registration Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
        <div class="row justify-content-evenly">     
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Registration / Login</h2>
                    <p class="mt-3">Register or Login for Timetable Enrollment.</p>
                </div>
                <form method="post" class="php-email-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mt-3">
                        <input asp-for="StudentId" class="form-control" placeholder="Student ID" required/>
                        <span asp-validation-for="StudentId" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input asp-for="Email" class="form-control" placeholder="Email" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3">
                        <div class="text-center d-flex flex-column align-items-center"><button class="mb-2 w-25" type="submit" asp-action="Index">Login</button><button class="mb-2 w-25" type="submit" asp-action="Register">Registration</button></div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </section><!-- End Login/Registration Section -->
</div>
</section><!-- End Hero -->

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}

